<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="E2EProjectSuite">
    <listeners><listener class-name="Academy.Listeners"/></listeners>
    <test name="Discover page">
        <classes>
            <class name="Aggiawardspage" />
        </classes>
    </test>


    </suite>